body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/src/131499.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
